{% if note.permissions('can_send') and not reg[0] in ['box','des'] %}
  {% if note.status == 'draft' %}
    <li>
      <a  class="dropdown-item"
          hx-post="/action_note?action=send_to_box&reg={{reg}}&note={{note.id}}" 
          hx-target="#row_{{note.id}}" 
          hx-trigger="click"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
        <i class="bi bi-send"></i> {{gettext('Send to sccr')}}
      </a>
    </li>
  {% elif note.status == 'queued' %}
    <li>
      <a  class="dropdown-item"
          hx-post="/action_note?action=send_to_box&back=true&reg={{reg}}&note={{note.id}}" 
          hx-target="#row_{{note.id}}" 
          hx-trigger="click"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
        <i class="bi bi-backspace-fill"></i> {{gettext('Retreive from sccr')}}
      </a>
    </li>
  {% endif %}
  <li><hr class="dropdown-divider"></li>
{% endif %}
