{% if not reg[0] in ['des','box'] and note.permissions('can_archive') %}
  {% if not note.archived %}
    <li>
      <a class="dropdown-item"
        <a  class="dropdown-item"
          hx-post="/action_note?action=archive&reg={{reg}}&note={{note.id}}" 
          hx-target="#row_{{note.id}}" 
          hx-trigger="click"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
        <i class="bi bi-box-arrow-in-down"></i> {{gettext('Archive')}}
      </a>
    </li>
  {% else %}
    <li>
      <a class="dropdown-item"
        <a  class="dropdown-item"
          hx-post="/action_note?action=archive&reg={{reg}}&note={{note.id}}" 
          hx-target="#row_{{note.id}}" 
          hx-trigger="click"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
        <i class="bi bi-box-arrow-up"></i> {{gettext('Restore')}}
      </a>
    </li>
  {% endif %}
  <li><hr class="dropdown-divider"></li>
{% endif %}

{% if not reg[0] in ['box','des'] and note.permissions('can_read') %}
  {% if note.result('is_read') %}
    <li>
      <a class="dropdown-item"
        hx-post="/action_note?action=read&note={{note.id}}&reg={{reg}}"
        hx-target="#row_{{note.id}}"
        role="button">
        <i class="bi bi-envelope-exclamation-fill"></i> {{gettext('Mark as unread')}}
      </a>
    </li>
  {% else %}
    <li>
      <a class="dropdown-item"
        hx-post="/action_note?action=read&note={{note.id}}&reg={{reg}}"
        hx-target="#row_{{note.id}}"
        role="button">
        <i class="bi bi-envelope-open-fill"></i> {{gettext('Mark as read')}}
      </a>
    </li>
  {% endif %}
{% endif %}

<!-- 
{% if (not reg[0] in ['box','des'] and note.permissions('can_read')) or (not reg[0] in ['des','box'] and note.permissions('can_archive')) %}
  <li><hr class="dropdown-divider"></li>
{% endif %}
-->

