{% if note.sender_id == current_user.id and note.state < 6 %}
  {%if note.state == 0 %}
    <li>
      <a class="dropdown-item"
      hx-post="/state_note?reg={{reg}}&note={{note.id}}"
      hx-target="#row_{{note.id}}"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-send"></i> {{gettext('Start circulation proposal')}}
      </a>
    </li>
    {% if note.read_by != "" %}
      <li>
        <a class="dropdown-item text-danger"
        hx-post="/state_note?reg={{reg}}&note={{note.id}}&cancel=true"
        hx-target="#row_{{note.id}}"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
        <i class="bi bi-x-octagon"></i> {{gettext('Reset proposal')}}
        </a>
      </li>
    {% endif %}
  {% elif note.state == 1 %}
    <li>
      <a class="dropdown-item"
      hx-post="/state_note?reg={{reg}}&note={{note.id}}"
      hx-target="#row_{{note.id}}"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-sign-stop-fill text-danger"></i> {{gettext('Stop circulation proposal')}}
      </a>
    </li>
  {% else %}
    <li>
      <a class="dropdown-item"
      hx-post="/state_note?reg={{reg}}&note={{note.id}}&cancel=true"
      hx-target="#row_{{note.id}}"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-eraser-fill"></i> {{gettext('Restart proposal')}}
      </a>
    </li>
  {% endif %}
  <li><hr class="dropdown-divider"></li>
{% elif note.permissions('can_sign_matter') %}
  <li><hr class="dropdown-divider"></li>
  <li>
    <a  class="dropdown-item"
        hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
        hx-target="#row_{{note.id}}" 
        hx-trigger="click"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
      <i class="bi bi-hand-thumbs-up-fill"></i> {{gettext('Sign and pass')}}
    </a>
  </li>
  {% if note.permissions('can_return_matter') %}
  <li>
    <a  class="dropdown-item"
        hx-post="/state_note?reg={{reg}}&note={{note.id}}&cancel=true" 
        hx-target="#row_{{note.id}}" 
        hx-trigger="click"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
      <i class="bi bi-hand-thumbs-down-fill text-danger"></i> {{gettext('Pass it back to owner')}}
    </a>
  </li>
  {% endif %}
  <li><hr class="dropdown-divider"></li>
{% endif %} 
