{% if note.sender_id == current_user.id %}
  {%if note.status == 'draft' %}
    <li>
      <a class="dropdown-item"
      hx-post="/action_note?action=start_circulation&reg={{reg}}&note={{note.id}}"
      hx-target="#row_{{note.id}}"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-send"></i> {{gettext('Start circulation proposal')}}
      </a>
    </li>

  {% elif note.status == 'shared' %}
    <li>
      <a class="dropdown-item"
      hx-post="/action_note?action=stop_circulation&reg={{reg}}&note={{note.id}}"
      hx-target="#row_{{note.id}}"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-sign-stop-fill text-danger"></i> {{gettext('Stop circulation proposal')}}
      </a>
    </li>
  {% endif %}

  {% if note.status != 'shared' and note.result('num_sign_proposal') > 0 %}
    <li>
      <a class="dropdown-item text-danger"
      hx-post="/action_note?action=restart_circulation&reg={{reg}}&note={{note.id}}"
      hx-target="#row_{{note.id}}"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-eraser-fill"></i> {{gettext('Reset proposal (remove signatures)')}}
      </a>
    </li>
  {% endif %}
  <li><hr class="dropdown-divider"></li>
{% elif note.permissions('can_sign_matter') %}
  <li>
    <a  class="dropdown-item"
        hx-post="/action_note?action=sign_proposal&reg={{reg}}&note={{note.id}}" 
        hx-target="#row_{{note.id}}" 
        hx-trigger="click"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
      <i class="bi bi-hand-thumbs-up-fill"></i> {{gettext('Sign and pass')}}
    </a>
  </li>
  {% if note.permissions('can_return_matter') %}
  <li>
    <a  class="dropdown-item"
        hx-post="/action_note?action=sign_proposal&back=true&reg={{reg}}&note={{note.id}}" 
        hx-target="#row_{{note.id}}" 
        hx-trigger="click"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
      <i class="bi bi-hand-thumbs-down-fill text-danger"></i> {{gettext('Pass it back to owner')}}
    </a>
  </li>
  {% endif %}
  <li><hr class="dropdown-divider"></li>
{% endif %} 
