{% if reg[0] == 'box' %}
  {% if reg[1] == 'in' %}
    {% if note.status == 'queued' %}
      <li>
        <a class="dropdown-item"
          hx-get="/action_note?action=inbox_despacho&note={{note.id}}&reg={{reg}}"
          hx-target="#row_{{note.id}}"
          role="button">
          <i class="bi bi-send-fill"></i>
          {% if 'despacho' in note.register.groups %}
            {{ gettext('Send to despacho') }}
          {% else %}
            {{ gettext('Send to') }} {{ note.register.alias }}
          {% endif %}
        </a>
      </li>
    {% else %}
      <li>
        <a class="dropdown-item"
          hx-get="/action_note?action=inbox_despacho&note={{note.id}}&reg={{reg}}&back=true"
          hx-target="#row_{{note.id}}"
          role="button">
          <i class="bi bi-backspace-fill"></i>
            {{ gettext('Take note back to inbox') }}
        </a>
      </li>
    {% endif %}

    {% if note.register.alias == 'ctr' %}
    <li>
      <a  class="dropdown-item"
        hx-post="/action_note?action=inbox_despacho&reg={{reg}}&note={{note.id}}&back=true" 
        hx-target="#row_{{note.id}}" 
        hx-trigger="click"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
        <i class="bi bi-backspace-fill text-danger"></i> {{gettext('Send note back to ctr')}}
      </a>
    </li>
    {% endif %}
    <li><hr class="dropdown-divider"></li>
  {% else %} <!-- else if in -->
    {% if note.reg in ['asr','ctr'] or note.reg in ['vc','vcr'] and 'asr' in note.fullkey %}
      <li>
        <a  class="dropdown-item"
          hx-post="/action_note?action=outbox_target&reg={{reg}}&note={{note.id}}" 
          hx-target="#row_{{note.id}}" 
          hx-trigger="click"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
          <i class="bi bi-send"></i> {{gettext('Send note')}}
        </a>
      </li>
    {% elif not note.reg in ['mat'] %}
      <li>
        <a  class="dropdown-item"
          hx-post="/action_note?action=mark_as_sent&note={{note.id}}" 
          hx-target="#row_{{note.id}}" 
          hx-trigger="click"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
          <i class="bi bi-check2-circle"></i> {{gettext('Mark note as sent')}}
        </a>
      </li>
    {% endif %}

    <li>
      <a  class="dropdown-item"
        hx-post="/action_note?action=outbox_target&reg={{reg}}&note={{note.id}}&back=true" 
        hx-target="#row_{{note.id}}" 
        hx-trigger="click"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
        <i class="bi bi-backspace-fill text-danger"></i> {{gettext('Send note back to dr')}}
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
  {% endif %} <!-- end else for if in -->
{% endif %} <!-- end box -->


{% if not note.reg in ['asr','ctr','mat'] and note.flow == 'out' and not 'asr' in note.fullkey %}
  <li>
    <a  class="dropdown-item"
      href="/action_note?action=download_eml&note={{note.id}}"
      role="button">
      <i class="bi bi-envelope-arrow-down-fill"></i> {{gettext('Download')}} eml
    </a>
  </li>
  <li><hr class="dropdown-divider"></li>
{% endif %}

{% if not note.in_folder_notes and note.status in ['sent','registered'] %}
  <li>
    <a  class="dropdown-item"
      hx-post="/action_note?action=move_to_register&reg={{reg}}&note={{note.id}}" 
      hx-target="#row_{{note.id}}" 
      hx-trigger="click"
      hx-disinherit="*"
      hx-indicator="#indicator-table"
      role="button">
      <i class="bi bi-archive-fill"></i> {{gettext('Move note to register')}}
    </a>
  </li>
  <li><hr class="dropdown-divider"></li>
{% endif %}
