  {% with registers = current_user.all_registers_and_sub %}
  <li id="register_collapse" class="nav-item">
    <a id="dropdownRegister" class="nav-link" data-bs-toggle="dropdown">
      <i class="bi bi-archive"></i> {{gettext('Notes')}}
        <span class="badge rounded-pill bg-danger" style="font-size:0.6em;"
            hx-get="/body_data?info=pending"
            hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body"></span>

          <span class="badge rounded-pill bg-primary" style="font-size:0.6em;"
              hx-get="body_data?info=register"
              hx-trigger="load, read-updated from:body, socket-updated from:body"></span>
      </a>
    <ul class="dropdown-menu shadow border-0" aria-labelledby="dropdownRegister">
      {% include 'mobile/sidebar_registers_list.html' %}
    </ul>
  </li>
  {% endwith %}
