<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header justify-content-between">
      <h5 class="modal-title">{{gettext('Import eml')}}</h5>
        {% if session['theme'] == 'light-mode' %}
          <img id="formFiles" class="htmx-indicator" width="20" src="static/icons/bars.svg">
        {% else %}
          <img id="formFiles" class="htmx-indicator" width="20" src="static/icons/bars-dark.svg">
        {% endif %}
    </div>

    <div class="modal-body">
        <input type="file" name="files" multiple="multiple" form="import_eml_form">
    </div>

    <form class="modal-footer" id="import_eml_form" hx-encoding="multipart/form-data" method="POST" hx-post="/action_inbox?action=eml_imported" hx-target="#body-inbox">
      <button type="button" class="btn btn-primary" hx-include="#import_eml_form" data-bs-dismiss="modal" hx-post="/action_inbox?action=eml_imported" hx-target="#body-inbox" hx-indicator="#formFiles">Import</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </form>
  </div>
</div>


   <form id='form' hx-encoding='multipart/form-data' hx-post='/upload'>
        <input type='file' name='file'>
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
    </form>
    <script>
        htmx.on('#form', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>
