<div class="container">
  {% for note in notes %}
    <div id="row_{{note.id}}" class="card mt-2">
      {% include 'mobile/notes/card/card.html' %}
    </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example mt-5">
    <ul class="pagination justify-content-center">
      {% if notes.has_prev %}
      <li class="page-item">
        <a class="page-link" hx-get="/main_body?reg={{reg}}&page={{notes.prev_num}}" hx-trigger="click" hx-target="#main-body" hx-indicator="#indicator-table" role="button">{{gettext('Previous')}}</a>
      </li>
      {% endif %}
      {% if notes.has_next %}
      <li class="page-item">
        <a class="page-link" hx-get="/main_body?reg={{reg}}&page={{notes.next_num}}" hx-trigger="click" hx-target="#main-body" hx-indicator="#indicator-table" role="button">{{gettext('Next')}}</a>
      </li>
      {% endif%}
    </ul>
</nav>
<!-- because we are using table rows here, we must enable template fragment parsing -->
<script>
    htmx.config.useTemplateFragments = true;
</script>

