  
<div class="row">
<h1 class="text-center">Editing {{ user.alias }}</h1>
</div>


<div class="row p-2 rounded-3 border border-secondary">
  <div class="col-6 me-2"> 
    {% if is_admin %}
      <div class="row mb-3">
        {{ form.alias(class="form-control", placeholder="User name") }}
      </div>
    {% endif %}

    <div class="row mb-3">
      {{ form.name(class="form-control", placeholder="Your full name") }}
    </div>

    <div class="row mb-3">
      {{ form.email(class="form-control", placeholder="Your Email") }}
    </div>

  {% if is_admin %}
      <div class="row mb-3">
        <div>
          {{ form.active(class="form-check-input") }}
          Active
          </br>
        </div>
      {% if user.category != 'ctr' %}  
        <div>
          {{ form.admin_active(class="form-check-input") }}
          Admin is active
        </div>
        {% endif %}
      </div>
    {% endif %}


    {% if user.category != 'ctr' %}
      {% if user.category in ['dr','of'] %}
        <div class="row mb-3">
          <div>
            {{ form.notifications_active(class="form-check-input") }}
            Receive notifications
          </div>
        </div>
      {% endif %}



      {% if 'scr' in user.groups %}
        <div class="row mb-3">
          {{ form.local_path(class="form-control", placeholder="Local folder for emls") }}
        </div>
      {% endif %}

    {% endif %}
  </div>

  {% if is_admin and not is_ctr %}
    <div class="col">
      <ul class="" style="max-height:45em; overflow-y: auto;">
        {% for group in form.groups %}
          <li class="list-group-item">
            {{ group(class="form-check-input chbox") }}
            {{ group.label(class="form-check-label chbox_label") }}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if user.category != 'ctr' %}  
      <div class="col">
        <ul class="" style="max-height:45em; overflow-y: auto;">
          {% for register in form.registers %}
            <li class="list-group-item">
              {{ register(class="form-check-input chbox") }}
              {{ register.label(class="form-check-label chbox_label") }}
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col">
        <ul class="" style="max-height:45em; overflow-y: auto;">
          {% for ctr in form.ctrs %}
            <li class="list-group-item">
              {{ ctr(class="form-check-input chbox") }}
              {{ ctr.label(class="form-check-label chbox_label") }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}
</div>
