{% if note.comments and note.is_involve(current_user) %}
  <span data-bs-toggle="tooltip" title="{{note.comments}}"><i class="bi bi-file-earmark-text" style="color: OrangeRed;"></i></span>
{% endif %}

{{ note.content_html()|safe }}

<span class="">
  {{ note.people_matter_html|safe }}
</span>

<!-- Tags-->
{% if session['reg[2]'] == '' %}
  {% if current_user.admin or session['reg'][0] == 'des' or session['reg'][0] == 'mat' and note.sender == current_user %}
    <a 
      hx-get="/edit_tags?note={{note.id}}" 
      hx-target="#modal-htmx" 
      hx-trigger="click" 
      data-bs-toggle="modal"
      data-bs-target="#modal-htmx"
      class=""
      role="button">
      <span id="tagRow-{{note.id}}">{{ note.tag_html(True)|safe }}</span></a>
  {% else %}
    {{ note.tag_html()|safe }}
  {% endif %}
{% endif %}
<!-- End of tags-->

<!-- Deparments -->
{% if not session['reg'][2] and not session['reg'][0] == 'mat' %}
  {% if current_user.admin or session['reg'][0] == 'des' %}
    <a 
      hx-get="/edit_receivers?note={{note.id}}" 
      hx-target="#modal-htmx" 
      hx-trigger="click" 
      data-bs-toggle="modal"
      data-bs-target="#modal-htmx"
      class=""
      role="button">
      <span id="recRow-{{note.id}}">{{ note.dep_html|safe }}</span></a>
  {% else %}
    {{ note.dep_html|safe }}
  {% endif %}
{% endif %}

  
{% if session['reg'][2] and note.comments_ctr %}
  {% for cm in note.comments_ctr %}
    {% if cm.sender.alias == session['reg'][2] %}
      <mark>
        ({{cm.comment}})
      </mark>
    {% endif %}
  {% endfor %}
{% endif %}
