
<img id="send-{{note.id}}" class="htmx-indicator" width="20" src="static/icons/bars.svg">
{{ note.status_html()|safe }}
{{ note.edit_delete_html()|safe }}


{% if not session['reg'][2] and not session['reg'][0] in ['des','box'] %}
<a 
  hx-get="reply_note?note={{note.id}}" 
  hx-target="#modal-htmx" 
  hx-trigger="click" 
  data-bs-toggle="modal" 
  data-bs-target="#modal-htmx"
  class=""
  role="button">
  <i id="replyRow-{{note.id}}" class="bi bi-envelope-plus-fill" style="color: DarkOrange;" data-bs-toggle="tooltip" title="{{gettext('Create note with this ref')}}"></i></a>
{% endif %}

{% if session['reg'][2] != '' %}
<a 
  hx-get="reply_note?note={{note.id}}" 
  hx-trigger="click"
  hx-indicator="#indicator-table"
  class=""
  role="button">
  <i id="replyRow-{{note.id}}" class="bi bi-envelope-plus-fill" style="color: DarkOrange;" data-bs-toggle="tooltip" title="{{gettext('Create note with this ref')}}"></i></a>
{% endif %}




{% if 'scr' in current_user.groups and note.flow == 'out' and 'email' in note.register.groups %}
  <a href="/download?note={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Download')}} eml"><i class="bi bi-envelope-arrow-down-fill" style="color: green"></i></a>
{% endif %}
