<div id="notes-title" class="d-flex my-4 mb-1 align-items-center">
  <div class="d-inline-flex align-items-center">
    <img src="static/icons/sake.svg" width="45vmin" height="45vmin">
    <span class="display-6 mx-2">Sake</span>
  </div>

  <div class="flex-grow-1">
    <div class="d-flex align-items-center justify-content-end">
      <button class="border-none btn btn-file rounded-circle"
        style="background-color: transparent;"
        hx-get="/action_page?action=new"
        hx-trigger="click"
        hx-target="#main-body"
        hx-indicator="#indicator-table"
        hx-disinherit="*"
        data-bs-toggle="tooltip"
        title="{{gettext('New')}}"><i class="h4 bi bi-file-earmark-plus"></i></button>
    </div>
  </div>

</div>  <!-- End notes_title -->

<div id="main-body" class="">
  {% include 'pages/table.html' %}
</div>
