<td>
  {{ pag.id }}
</td>

<td class="">
  {{ pag.title }}
  <span id="recRow-{{pag.id}}">  
    {{ pag.access_html|safe }}
  </span>
</td>

<td>
  <span class="dropstart position-static">
    <button type="button" class="btn btn-sm mx-2 p-0 my-0" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu border-0 shadow-lg p-3 mb-5 rounded">
      <li>
        <a class="dropdown-item"
          hx-get="/main_title_body?reg=['pages','{{pag.id}}','']"
          hx-on:click="$('#registers_collapse').collapse('hide');$('#proposals_collapse').collapse('hide');"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          role="button">
          <i class="bi bi-eye-fill"></i>
          <span>{{gettext('View')}}</span>
        </a>
      </li>
    <li><hr class="dropdown-divider"></li>

      <li>
        <a  class="dropdown-item"
            hx-get="/action_page?action=edit&page={{pag.id}}" 
            hx-trigger="click"
            hx-target="#modal-htmx"
            data-bs-toggle="modal"
            data-bs-target="#modal-htmx"
            role="button">
              <i class="bi bi-pencil-fill"></i>
              <span>{{gettext('Edit page')}}</span>
        </a>
      </li>
    <li><hr class="dropdown-divider"></li>
      
      <li>
        <a  class="dropdown-item text-danger"
          hx-get="action_page?reg={{reg}}&action=delete&page={{pag.id}}" 
          hx-trigger="click"
          hx-target="#main-body"
          hx-indicator="#indicator-table"
          hx-confirm="Are you sure you want to delete {{pag.title}}?"
          role="button">
          <i class="bi bi-trash3-fill"></i> {{gettext("Delete page")}}
      </a>

      </li>

    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" 
        hx-get="/edit_receivers?page={{pag.id}}&type=permissions" 
        hx-target="#modal-htmx" 
        hx-trigger="click" 
        data-bs-toggle="modal"
        data-bs-target="#modal-htmx"
        role="button">
        <i class="bi bi-person-fill-lock"></i> {{gettext('Grant access to...')}}
      </a>
    </li>

    </ul>
  </span>
</td>

<!-- Date -->
<td id="row_{{pag.id}}_date" style="white-space: nowrap;" class="text-end">
  <span class="fw-light d-md-none d-lg-block"><small>{{ pag.date.strftime('%y-%m-%d') }}</small></span>
</td>


