<div class="modal-dialog modal-lg modal-dialog-centered">
  <form  class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{gettext('Recepient')}}</h5>
      <div>
      <button hx-post="/action_note?action=change_owner&note={{note}}" hx-target="#row_{{note}}" type="button" class="btn btn-primary" data-bs-dismiss="modal">
      {{gettext('Save')}}
      </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{gettext('Close')}}</button>
      </div>
    </div>

    <div class="modal-body">
    <!-- Form -->
    
      <ul class="list-group" id="search-results-modal" style="max-height:45em; overflow-y: auto;">
        {% for rec in form.receiver %}
          {% if not rec.checked %} 
            <li class="list-group-item p-1">
              {{ rec(class="form-check-input chbox",type="radio") }}
              {{ rec.label(class="form-check-label chbox_label") }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
     
    </div>

    <div class="modal-footer">
    </div>

  </form>
</div>

