      {% for rec in form.tag %}
        {% if rec.checked %} 
          <li class="list-group-item p-1">
            {{ rec(class="form-check-input chbox") }}
            {{ rec.label(class="form-check-label chbox_label") }}
          </li>
        {% endif %}
      {% endfor %}
      {% for rec in form.tag %}
        {% if not rec.checked %} 
          <li class="list-group-item p-1">
            {{ rec(class="form-check-input chbox") }}
            {{ rec.label(class="form-check-label chbox_label") }}
          </li>
        {% endif %}
      {% endfor %}
