<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title text-center display-4">
  <img src="static/icons/00-inbox.svg" width="70vmin" height="70vmin">
  {{title}}
</h1>

<div id="wait" class="modal">
  {% include 'wait.html' %}
</div>

<div id="upfile" class="modal fade">
  {% include 'upload_file.html' %}
</div>

<div class="row p-4">
  <fieldset class="col-8 border">
      <legend class="float-none w-auto p-2">Mail from cg, asr and r</legend>
      <ul class="list-group list-group-flush">
        <li class="p-2 list-group-item">
          <input href="#upfile" type="submit" class="btn btn-primary" data-bs-toggle="modal" name="importeml" value="Import eml">
          <span> 1. Import EML files from Cardumen</span>
        </li>
        
        <li class="p-2 list-group-item">
          <input type="submit" form="inboxscr" class="btn btn-primary" data-bs-toggle="modal" name="getmail_asr" value="Import asr">
          <span> 2. Get mails from asr in Mail asr/Mail from asr</span>
        </li>
        
        <li class="p-2 list-group-item">
          <input type="submit" form="inboxscr" class="btn btn-primary" data-bs-toggle="modal" name="notesfromfiles" value="Generate notes">
          <span> 3. After checking numbers generate notes from files imported in 1 and 2</span>
        </li>
      </ul>
  </fieldset>
  
    <fieldset class="border col-4">
      <legend class="float-none w-auto p-2">Mail from ctr</legend>
      <ul class="list-group list-group-flush">
        <li class="p-2 list-group-item">
          <input type="submit" form="inboxscr" class="btn btn-primary m-4" data-bs-toggle="modal" name="getmail" value="Get mail ({{ctr_notes}})">
          <span>Pass notes from ctr to Despacho</span>
        </li>
      </ul>
    </fieldset>

</div>


<div class="row">
  <div class="col">
    {% include 'inbox/search_files.html' %}
  </div>
</div>

{% endblock %}
