  <div class="d-flex justify-content-between my-4">
    <div class="d-inline-flex align-items-center">
        <img src="static/icons/sake.svg" width="45vmin" height="45vmin">
        <span class="display-6 mx-2">Sake</span>
    </div>
      
    <div class="btn-group" role="group">
      <select class="form-select w-auto rounded-pill"
        name="filter_option"
        hx-post="/marked_files_deletion?reg=['marked','files','']"
        hx-trigger="click"
        hx-target="#inbox-table"
        hx-disinherit="*">
        <option value="only_archived" class="text-end" {{'selected' if session['filter_option'] == 'only_Archived' else ''}}>Only archived</option>
        <option value="all_marked" class="text-end" {{'selected' if session['filter_option'] == 'all_marked' else ''}}>All marked</option>
      </select>

      <button type="button" 
        class="btn btn-file"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"
            hx-get="#" 
            hx-target="#modal-htmx" 
            hx-trigger="click" 
            data-bs-toggle="modal"
            data-bs-target="#modal-htmx"     
            role="button">
          Remove all</a></li>
      </ul>
    </div> <!-- end btn-group -->
  </div> <!-- end -->
  


  <div id="inbox-table" class="mt-3">
    {% include 'inbox/table_files.html' %}
  </div>











