<!-- Comments from despacho -->
{% if note.comments and note.is_involve(reg,current_user) %}
  <span data-bs-toggle="tooltip" title="{{note.comments}}"><i class="bi bi-file-earmark-text text-danger"></i></span>
{% endif %}

<!-- Content note -->
<span hx-post="/read_note?note={{note.id}}&reg={{reg}}&only_content=True" hx-trigger="content_{{note.id}} from:body" hx-target="#row_{{note.id}}">
  {% if note.permissions('can_read') and reg[1] in ['in','pen'] and (reg[2] and note.flow == 'out' or not reg[2] and note.flow == 'in') %}
    {% with read = note.is_read() %}
      <span id="row_{{note_id}}_content"
          hx-post="/read_note?note={{note.id}}&reg={{reg}}"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          {% if read %}
            data-bs-title="{{gettext('Mark as unread')}}"
          {% else %}
            data-bs-title="{{gettext('Mark as read')}}"
            class="fw-bold"
          {% endif %}
          role="button">
        {{note.content}}</span>
    {% endwith %}
  {% else %}
    <span class="{{'fw-bold' if note.working_matter(current_user.alias) else '' }}">{{note.content}}</span>
  {% endif %}

</span>

{% if reg[2] and note.comments_ctr %}
  {% for cm in note.comments_ctr %}
    {% if cm.sender.alias == reg[2] %}
      {% if cm.comment %}
        <mark>
          ({{cm.comment}})
        </mark>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
