<!-- Comments from despacho -->
{% if note.comments and note.is_involve(reg,current_user) %}
  <span data-bs-toggle="tooltip" title="{{note.comments}}"><i type="button" class="bi bi-file-earmark-text text-danger"></i></span>
{% endif %}

{% with read = note.result('is_read') %}
  {% if note.register.alias != 'mat' and note.status == 'registered' and note.files_date %}
    {% if not read and note.n_date < note.files_date %}
      <span class="badge bg-danger">New</span>
    {% endif %}
  {% endif %}

  <!-- Content note -->
  <span hx-post="/action_note?action=read&note={{note.id}}&reg={{reg}}" hx-trigger="content_{{note.id}} from:body" hx-target="#row_{{note.id}}">
    {% if note.content == "" %}
      <span  class=""
          hx-get="/action_note?reg={{reg}}&action=edit_note&note={{note.id}}" 
          hx-trigger="click"
          hx-target="#modal-htmx"
          data-bs-toggle="modal"
          data-bs-target="#modal-htmx"
          role="button">
        <i class="bi bi-pencil-fill text-primary"></i>
      </span>
    {% endif %}

    {% if note.permissions('can_read') and reg[1] in ['in','pen','unread'] and (reg[2] and note.flow == 'out' or not reg[2] and note.flow == 'in') %}
      <span id="row_{{note_id}}_content" class="{{'fw-bold' if not read else ''}}">
        {{note.content_url|safe}}
      </span>
    {% else %}
      <span class="{{'fw-bold' if note.result('is_current_target') else '' }}">
        {{note.content_url|safe}}
      </span>
    {% endif %}

  </span>
{% endwith %}

{% if reg[2] and note.comments_ctr %}
  {% for cm in note.comments_ctr %}
    {% if cm.sender.alias == reg[2] %}
      {% if cm.comment %}
        <mark>
          ({{cm.comment}})
        </mark>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
