{% if note.files|length > 0 %}  
  {% with file = note.first_file(reg[2]) %}
  <button  class="btn btn-sm btn-file px-1 py-0 my-0 border-0 rounded-pill file-pill" 
    hx-get="/action_note?action=read&note={{note.id}}&reg={{reg}}&file_clicked=true"
    hx-swap="none"
    hx-on:htmx:after-request="window.open('{{file.link}}')"
    data-bs-tooltip="tooltip"
    title="{{file.name}}"
    role="button">
    <i class="bi {{file.bi_icon}}"></i><small class="fw-normal ms-1">{{file.name}}</small></button>
  {% endwith %}
{% endif %}

<span class="dropdown dropdown-center position-static p-0 m-0">
  <button class="btn btn-sm btn-file px-1 py-0 my-0 rounded-end-pill {{'text-warning' if not note.permanent_link else 'text-info' if not note.in_folder_notes and note.status in ['sent','registered'] and 'despacho' in note.register.groups else ''}}" data-bs-toggle="dropdown">
    {{ note.number_files(reg[2])|safe }}
    {% if note.ref %}
      <i class="bi bi-chevron-double-down small"></i>
    {% else %}
      <i class="bi bi-chevron-down small"></i>
    {% endif %}
  </button>

  <ul class="dropdown-menu dropdown-center border-0 shadow-lg p-2 mb-5 rounded">
    <li><h5 class="dropdown-header text-decoration-underline fw-bold">Files</h5></li>
    {% if (reg[2] and note.flow == 'in' or note.reg!='mat' and not reg[2] or note.reg=='mat' and note.sender_id==current_user.id) and note.permanent_link %}
      <li style="padding-left: 1rem;"><a  class="dropdown-item small fw-light" 
            href="{{session['link']}}/d/f/{{note.permanent_link}}"
            target="_blank"
            role="button">
          <i class="bi bi-folder-fill text-warning"></i> {{note.folder_name}}
          </a>
      </li>
    {% endif %}
    
    {% for file in note.files %}
      {% if not reg[2] or reg[2] and (file.subject == '' or reg[2] in file.subject.split(','))  %}
        <li style="padding-left: 2rem;">
          <div class="dropdown-item small">
            <div class="row">
              <span class="col-10">
                  <a  class="fw-normal text-decoration-none {{'text-light' if session['theme'] == 'dark-mode' else 'text-dark'}}" 
                    hx-get="/action_note?action=read&note={{note.id}}&reg={{reg}}&file_clicked=true"
                    hx-swap="none"
                    hx-on:htmx:after-request="window.open('{{file.link}}')"
                    role="button">
                  <i class="bi {{file.bi_icon}}"></i> {{file.name}}
                </a>
                  {% if note.date != file.date and note.register.alias != 'mat' %}
                    ({{file.date}})
                  {% endif %}
              </span>
              {% if note.sender_id == current_user.id or current_user.admin %}
              <span class="col-2 text-right">
                <a  class=""
                    hx-get="/action_note?reg={{reg}}&action=delete_file&note={{note.id}}&file={{file.id}}" 
                    hx-trigger="click"
                    hx-target="#row_{{note.id}}_files"
                    hx-indicator="#indicator-table"
                    hx-confirm="Are you sure you want to delete file {{file.name}} in note {{note.fullkey}}?"
                    data-bs-toggle="tooltip"
                    title="{{gettext("Delete file")}}"
                    role="button">
                  <i class="bi bi-trash3-fill text-danger"></i>
                </a>
              </span>
              {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    
    {% for ref in note.ref %}
      {% if reg[2] and ref.reg != 'mat' and (ref.sender.alias == reg[2] or reg[2] in ref.receivers) or not reg[2] %}
        <li>
          {% if reg[0] == 'des' %}
            <a  class="text-decoration-none"
                hx-on:click="navigator.clipboard.writeText('{{ref.content}}')"
                role=button>
              <h5 class="dropdown-header text-decoration-underline fw-bold mt-2">{{ref.fullkey}}: {{ref.content}}
                {% with note = ref %}{% include 'notes/table/2_involved.html' %}{% endwith %}
              </h5>
            </a>
          {% else %}
            <h5 class="dropdown-header text-decoration-underline fw-bold">{{ref.fullkey}}: {{ref.content}}
            </h5>
          {% endif %}
        </li>
        {% if ref.reg!='mat' or ref.reg == 'mat' and (ref.has_target(current_user) or ref.sender == current_user) %}
          {% for file in ref.files %}
            {% if not reg[2] or reg[2] and (file.subject == '' or reg[2] in file.subject.split(','))  %}
              <li style="padding-left: 2rem;"><a  class="dropdown-item small fw-light" 
                    hx-get="/action_note?action=read&note={{ref.id}}&reg={{reg}}&file_clicked=true"
                    hx-swap="none"
                    hx-on:htmx:after-request="window.open('{{file.link}}')"
                    role="button">
                  <i class="bi {{file.bi_icon}}"></i> {{file.name}}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor%}

    {% if note.ref and note.ref|length == 1 %}
      {% for ref in note.ref[0].ref %}
      {% if not ref in note.ref %}
        {% if reg[2] and ref.reg != 'mat' and (ref.sender.alias == reg[2] or reg[2] in ref.receivers) or not reg[2] %}
          <li>
            {% if reg[0] == 'des' %}
              <a  class="text-decoration-none"
                  hx-on:click="navigator.clipboard.writeText('{{ref.content}}')"
                  role=button>
                <h5 class="dropdown-header text-decoration-underline fw-bold mt-2">{{ref.fullkey}}: {{ref.content}}
                  {% with note = ref %}{% include 'notes/table/2_involved.html' %}{% endwith %}
                </h5>
              </a>
            {% else %}
              <h5 class="dropdown-header text-decoration-underline fw-bold">{{ref.fullkey}}: {{ref.content}}
              </h5>
            {% endif %}
          </li>
          {% if ref.reg!='mat' or ref.reg == 'mat' and (ref.has_target(current_user) or ref.sender == current_user) %}
            {% for file in ref.files %}
              {% if not reg[2] or reg[2] and (file.subject == '' or reg[2] in file.subject.split(','))  %}
                <li style="padding-left: 2rem;"><a  class="dropdown-item small fw-light" 
                      hx-get="/action_note?action=read&note={{ref.id}}&reg={{reg}}&file_clicked=true"
                      hx-swap="none"
                      hx-on:htmx:after-request="window.open('{{file.link}}')"
                      role="button">
                    <i class="bi {{file.bi_icon}}"></i> {{file.name}}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endif %}
      {% endfor%}
    {% endif %}



  </ul>
</span>

