{% if note.files|length > 0 %}
  <button  class="btn btn-sm btn-file px-1 py-0 my-0 border-0 rounded-pill" 
    hx-get="/action_note?action=read&note={{note.id}}&reg={{reg}}&file_clicked=true"
    hx-swap="none"
    hx-on:htmx:after-request="window.open('{{note.files[0].link}}')"
    data-bs-tooltip="tooltip"
    title={{note.files[0].name}}
    role="button">
    <i class="bi {{note.files[0].bi_icon}}"></i><small class="fw-normal ms-1">{{note.files[0].short_name}}</small></button>
{% endif %}

{% if True or note.files|length > 1 or note.ref|length > 0 %}
<span class="dropdown dropdown-center position-static p-0 m-0">
  <button class="btn btn-sm btn-file px-1 py-0 my-0 rounded-end-pill" data-bs-toggle="dropdown">
    {{ note.number_files|safe }}
    <i class="bi bi-chevron-down text-secondary small"></i>
  </button>

  <ul class="dropdown-menu">
    <li><h5 class="dropdown-header text-decoration-underline fw-bold">Files</h5></li>
    {% if (reg[2] and note.flow == 'in' or note.reg!='mat' and not reg[2] or note.reg=='mat' and note.sender_id==current_user.id) and note.permanent_link %}
      <li><a  class="dropdown-item small fw-light" 
            href="{{session['link']}}/d/f/{{note.permanent_link}}"
            target="_blank"
            role="button">
          <i class="bi bi-folder-fill text-warning"></i> {{note.fullkey_folder}}
          </a>
      </li>
    {% endif %}
    {% for file in note.files %}
      {% if not reg[2] or reg[2] and (file.subject == '' or reg[2] in file.subject.split(','))  %}
        <li><a  class="dropdown-item small fw-normal" 
              hx-get="/action_note?action=read&note={{note.id}}&reg={{reg}}&file_clicked=true"
              hx-swap="none"
              hx-on:htmx:after-request="window.open('{{file.link}}')"
              role="button">
            <i class="bi {{file.bi_icon}}"></i> {{file.name}}
            {% if note.date != file.date and note.register.alias != 'mat' %}
              ({{file.date}})
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    
    {% for ref in note.ref %}
      {% if reg[2] and ref.reg != 'mat' and (ref.sender.alias == reg[2] or reg[2] in ref.receivers) or not reg[2] %}
        <li>
          {% if reg[0] == 'des' %}
            <a  class="text-decoration-none"
                hx-on:click="navigator.clipboard.writeText('{{ref.content}}')"
                role=button>
              <h5 class="dropdown-header text-decoration-underline fw-bold">{{ref.fullkey}}: {{ref.content}}
                ({% with note = ref %}{% include 'notes/table/2_involved.html' %}{% endwith %})
              </h5>
            </a>
          {% else %}
            <h5 class="dropdown-header text-decoration-underline fw-bold">{{ref.fullkey}}: {{ref.content}}
            </h5>
          {% endif %}
        </li>
        {% if ref.reg!='mat' or ref.reg=='mat' and ref.is_involve(reg,current_user) %}
          {% for file in ref.files %}
            {% if not reg[2] or reg[2] and (file.subject == '' or reg[2] in file.subject.split(','))  %}
              <li><a  class="dropdown-item small fw-light" 
                    hx-get="/action_note?action=read&note={{ref.id}}&reg={{reg}}&file_clicked=true"
                    hx-swap="none"
                    hx-on:htmx:after-request="window.open('{{file.link}}')"
                    role="button">
                  <i class="bi {{file.bi_icon}}"></i> {{file.name}}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor%}
  </ul>
</span>
{% elif (reg[2] and note.flow == 'in' or note.reg!='mat' and not reg[2] or note.reg=='mat' and note.sender_id==current_user.id) and note.permanent_link %}
  <a  class="ms-1" 
      href="{{session['link']}}/d/f/{{note.permanent_link}}"
      target="_blank"
      data-bs-toggle="tooltip"
      title="{{note.fullkey_folder}}"
      role="button">
    <i class="bi bi-folder-fill text-warning"></i></a>
{% endif %}

