{% if note.flow == 'out' %}
  {% if note.result('is_done',session['ctr']) %}
    <span><i class="bi bi-check-circle-fill text-muted" data-toggle="tooltip" title="The note has been archived"></i></span>
  {% else %}
    <span><i class="bi bi-x-circle-fill" data-toggle="tooltip" title="To be done"></i></span>
  {% endif %}
{% else %}
  {% if note.state == 0 %}
    <span><i class="bi bi-patch-exclamation-fill" data-toggle="tooltip" title="The cl is working on the note"></i></span>
  {% elif note.state == 1 %}
    <span><i class="bi bi-hourglass-split text-muted" data-toggle="tooltip" title="The note has been sent to sccr but he has note received it yet"></i></span>
  {% else %}
    <span><i class="bi bi-send-check text-muted" data-toggle="tooltip" title="sccr has received the note"></i></span>
  {% endif %}
{% endif %}
