<button type="button" class="p-0 btn btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
  {% include 'notes/table/2_state_ctr.html' %}
  <span class="visually-hidden">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
  <li>
    <a  class="dropdown-item"
        hx-get="reply_note?reg={{reg}}&note={{note.id}}" 
        hx-trigger="click" 
        hx-indicator="#indicator-table"
        role="button">
      <i class="bi bi-node-plus-fill"></i> {{gettext('New document with ref')}}
    </a>
  </li>
  {% if note.flow == 'out' %}
    <li><hr class="dropdown-divider"></li>
    {% if note.is_read(current_user) %}
      <li>
        <a class="dropdown-item"
          hx-post="/read_note?note={{note.id}}&reg={{reg}}"
          hx-target="#row_{{note.id}}"
          role="button">
          <i class="bi bi-envelope-exclamation-fill"></i> {{gettext('Mark as unread')}}
        </a>
      </li>
    {% else %}
      <li>
        <a class="dropdown-item"
          hx-post="/read_note?note={{note.id}}&reg={{reg}}"
          hx-target="#row_{{note.id}}"
          role="button">
          <i class="bi bi-envelope-open-fill"></i> {{gettext('Mark as read')}}
        </a>
      </li>
    {% endif %}
  {% elif note.state < 6 %}
    {% if note.state == 0 %}
      <li><hr class="dropdown-divider"></li>
      <li>
        <a  class="dropdown-item ms-1"
            hx-get="browse_files?reg={{reg}}&note={{note.id}}" 
            hx-target="#modal-htmx" 
            hx-trigger="click" 
            data-bs-toggle="modal" 
            data-bs-target="#modal-htmx"
            role="button">
          <i class="bi bi-folder-symlink-fill"></i> {{gettext('Copy files from other locations')}}
        </a>
      </li>
      <li>
        <a  class="dropdown-item ms-1"
            hx-get="action_note?reg={{reg}}&note={{note.id}}&action=update_files" 
            hx-target="#row_{{note.id}}_files"
            hx-target-error="#flash-errors"
            hx-trigger="click" 
            hx-indicator="#indicator-table"
            role="button">
          {% if note.permanent_link == '' %}
            <i class="bi bi-folder-plus"></i> {{gettext('Create folder')}}
          {% else %}
            <i class="bi bi-arrow-repeat"></i> {{gettext('Register files in note')}}
          {% endif %}
        </a>
      </li>
      
      <li><hr class="dropdown-divider"></li>

      <li>
        <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-send"></i> {{gettext('Send to sccr')}}
        </a>
      </li>
    {% elif note.state == 1 %}
      <li><hr class="dropdown-divider"></li>
      <li>
        <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-backspace-fill"></i> {{gettext('Retreive from sccr')}}
        </a>
      </li>
    {% endif %}

  {% endif %}

  {% if note.flow == 'out' and note.state >= 5 %}
    <li><hr class="dropdown-divider"></li>
    {% if note.is_done(session['ctr']) %}
      <li>
        <a class="dropdown-item"
          <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-box-arrow-in-down"></i> {{gettext('Archive')}}
        </a>
      </li>
    {% else %}
      <li>
        <a class="dropdown-item"
          <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-box-arrow-up"></i> {{gettext('Restore')}}
        </a>
      </li>
    {% endif %}
  {% endif %}

  {% if note.flow == 'out'%}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" hx-trigger="mouseenter once" hx-get="action_note?reg={{reg}}&note={{note.id}}&action=info" hx-target="#row_{{note.id}}_info">
        <i class="bi bi-info-circle-fill"></i> {{gettext('Check who has read the note')}} &raquo;
      </a>
       <ul class="dropdown-menu dropdown-submenu">
        <div id="row_{{note.id}}_info">
                </div>
      </ul>
    </li>
  {% endif %}


  {% if current_user.admin or note.state == 0 %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a  class="dropdown-item"
          hx-get="/action_note?reg={{reg}}&action=edit_note&note={{note.id}}" 
          hx-trigger="click"
          hx-target="#modal-htmx"
          data-bs-toggle="modal"
          data-bs-target="#modal-htmx"
          role="button">
          <i class="bi bi-pencil-fill"></i> {{gettext("Edit note")}}
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a  class="dropdown-item text-danger"
          hx-get="/action_note?reg={{reg}}&action=delete_note&note={{note.id}}" 
          hx-trigger="click"
          hx-target="#main-body"
          hx-indicator="#indicator-table"
          hx-confirm="Are you sure you want to delete {{note.fullkey}}?"
          role="button">
          <i class="bi bi-trash3-fill"></i> {{gettext("Delete note")}}
      </a>
    </li>
  {% endif %}
</ul>

