<button type="button" class="p-0 btn btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
  {% include 'notes/table/2_state.html' %}
  <span class="visually-hidden">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
  <li>
    <a  class="dropdown-item"
        hx-get="reply_note?reg={{reg}}&note={{note.id}}" 
        hx-target="#modal-htmx" 
        hx-trigger="click" 
        data-bs-toggle="modal" 
        data-bs-target="#modal-htmx"
        role="button">
      <i class="bi bi-node-plus-fill"></i> {{gettext('New document with ref')}}
    </a>
  </li>

  {% if note.sender_id == current_user.id and note.state < 6 or current_user.admin %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a  class="dropdown-item ms-1"
          hx-get="browse_files?reg={{reg}}&note={{note.id}}" 
          hx-target="#modal-htmx" 
          hx-trigger="click" 
          data-bs-toggle="modal" 
          data-bs-target="#modal-htmx"
          role="button">
        <i class="bi bi-folder-symlink-fill"></i> {{gettext('Copy files from other locations')}}
      </a>
    </li>
    <li>
      <a  class="dropdown-item ms-1"
          hx-get="action_note?reg={{reg}}&note={{note.id}}&action=update_files" 
          hx-target="#row_{{note.id}}_files"
          hx-target-error="#flash-errors"
          hx-trigger="click" 
          hx-indicator="#indicator-table"
          role="button">
        {% if note.permanent_link == '' %}
          <i class="bi bi-folder-plus"></i> {{gettext('Create folder')}}
        {% else %}
          <i class="bi bi-arrow-repeat"></i> {{gettext('Register files in note')}}
        {% endif %}
      </a>
    </li>
  {% endif %}

  {% if reg[0] == 'des' %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item"
        hx-post="/state_note?reg={{reg}}&note={{note.id}}"
        hx-target="#row_{{note.id}}"
        hx-disinherit="*"
        hx-indicator="#indicator-table"
        role="button">
        {% if "des_" + current_user.alias in note.read_by %}
          <i class="bi bi-backspace-fill"></i> {{gettext('Unsign despacho')}}
        {% else %}
          <i class="bi bi-vector-pen"></i> {{gettext('Sign despacho')}}
        {% endif %}
      </a>
    </li>
  {% elif note.reg == 'mat' %}
    {% if note.sender_id == current_user.id and note.state < 6 %}
      <li><hr class="dropdown-divider"></li>
      {%if note.state == 0 %}
        <li>
          <a class="dropdown-item"
          hx-post="/state_note?reg={{reg}}&note={{note.id}}"
          hx-target="#row_{{note.id}}"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
          <i class="bi bi-send"></i> {{gettext('Start circulation proposal')}}
          </a>
        </li>
        {% if note.read_by != "" %}
          <li>
            <a class="dropdown-item text-danger"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}&cancel=true"
            hx-target="#row_{{note.id}}"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
            <i class="bi bi-x-octagon"></i> {{gettext('Reset proposal')}}
            </a>
          </li>
        {% endif %}
      {% elif note.state == 1 %}
        <li>
          <a class="dropdown-item"
          hx-post="/state_note?reg={{reg}}&note={{note.id}}"
          hx-target="#row_{{note.id}}"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
          <i class="bi bi-sign-stop-fill text-danger"></i> {{gettext('Stop circulation proposal')}}
          </a>
        </li>
      {% else %}
        <li>
          <a class="dropdown-item"
          hx-post="/state_note?reg={{reg}}&note={{note.id}}&cancel=true"
          hx-target="#row_{{note.id}}"
          hx-disinherit="*"
          hx-indicator="#indicator-table"
          role="button">
          <i class="bi bi-eraser-fill"></i> {{gettext('Restart proposal')}}
          </a>
        </li>
      {% endif %}
    {% elif note.working_matter(current_user) %}
      <li><hr class="dropdown-divider"></li>
      <li>
        <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-hand-thumbs-up-fill"></i> {{gettext('Sign and pass')}}
        </a>
      </li>
      {% if note.can_return_matter %}
      <li>
        <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-hand-thumbs-down-fill text-danger"></i> {{gettext('Pass it back to owner')}}
        </a>
      </li>
      {% endif %}
    {% endif %}
  {% elif note.flow == 'in' %}
    {% if not 'of' in current_user.groups or current_user in note.receiver or current_user.alias in note.privileges.split(',') %}
      <li><hr class="dropdown-divider"></li>
      {% if note.is_read(current_user) %}
        <li>
          <a class="dropdown-item"
            hx-post="/read_note?note={{note.id}}&reg={{reg}}"
            hx-target="#row_{{note.id}}"
            role="button">
            <i class="bi bi-envelope-exclamation-fill"></i> {{gettext('Mark as unread')}}
          </a>
        </li>
      {% else %}
        <li>
          <a class="dropdown-item"
            hx-post="/read_note?note={{note.id}}&reg={{reg}}"
            hx-target="#row_{{note.id}}"
            role="button">
            <i class="bi bi-envelope-open-fill"></i> {{gettext('Mark as read')}}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% elif note.flow == 'out' and note.sender_id == current_user.id and note.state < 6 %}
    <li><hr class="dropdown-divider"></li>
    {% if note.state == 0 %}
      <li>
        <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-send"></i> {{gettext('Send to sccr')}}
        </a>
      </li>
    {% elif note.state == 1 %}
      <li>
        <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-backspace-fill"></i> {{gettext('Retreive from sccr')}}
        </a>
      </li>
    {% endif %}

  {% endif %}
  
  {% if ((current_user in note.receiver or note.register.permissions == 'editor') and note.flow == 'in' or note.sender_id == current_user.id and note.reg == 'mat') and note.state >= 5 %}
    <li><hr class="dropdown-divider"></li>
    {% if note.state == 5 %}
      <li>
        <a class="dropdown-item"
          <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-box-arrow-in-down"></i> {{gettext('Archive')}}
        </a>
      </li>
    {% else %}
      <li>
        <a class="dropdown-item"
          <a  class="dropdown-item"
            hx-post="/state_note?reg={{reg}}&note={{note.id}}" 
            hx-target="#row_{{note.id}}" 
            hx-trigger="click"
            hx-disinherit="*"
            hx-indicator="#indicator-table"
            role="button">
          <i class="bi bi-box-arrow-up"></i> {{gettext('Restore')}}
        </a>
      </li>
    {% endif %}
  {% endif %}

  {% if reg[0] == 'box' or (reg[1]=='out' and 'scr' in current_user.groups) %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a  class="dropdown-item"
          href="/download?note={{note.id}}"
          role="button">
        <i class="bi bi-envelope-arrow-down-fill"></i> {{gettext('Download')}} eml
      </a>
    </li>
  {% endif %}
  
  {% if current_user.admin or 'despacho' in current_user.groups %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" 
        hx-get="/edit_receivers?note={{note.id}}&type=permissions" 
        hx-target="#modal-htmx" 
        hx-trigger="click" 
        data-bs-toggle="modal"
        data-bs-target="#modal-htmx"
        role="button">
        <i class="bi bi-person-fill-lock"></i> {{gettext('Special permissions officials')}}
      </a>
    </li>
  {% endif %}

  {% if current_user.admin or reg[0] == 'des' or note.state < 6 and note.sender_id == current_user.id and note.reg != 'mat' or note.reg == 'mat' and note.state in [0,5] %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a  class="dropdown-item"
          hx-get="/action_note?reg={{reg}}&action=edit_note&note={{note.id}}" 
          hx-trigger="click"
          hx-target="#modal-htmx"
          data-bs-toggle="modal"
          data-bs-target="#modal-htmx"
          role="button">
          <i class="bi bi-pencil-fill"></i> {{gettext("Edit note")}}
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a  class="dropdown-item text-danger"
          hx-get="action_note?reg={{reg}}&action=delete_note&note={{note.id}}" 
          hx-trigger="click"
          hx-target="#main-body"
          hx-indicator="#indicator-table"
          hx-confirm="Are you sure you want to delete {{note.fullkey}}?"
          role="button">
          <i class="bi bi-trash3-fill"></i> {{gettext("Delete note")}}
      </a>
    </li>
  {% endif %}

  {% if note.reg != 'mat' and (note.flow == 'in' or note.flow == 'out' and note.reg == 'ctr') and 'despacho' in current_user.groups or 'scr' in current_user.groups and not 'of' in current_user.groups %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" hx-trigger="mouseenter once" hx-get="action_note?reg={{reg}}&note={{note.id}}&action=info" hx-target="#row_{{note.id}}_info">
        <i class="bi bi-info-circle-fill"></i> {{gettext('Check info about the note')}} &raquo;
      </a>
       <ul class="dropdown-menu dropdown-submenu">
        <div id="row_{{note.id}}_info"></div>
      </ul>
    </li>
  {% endif %}

</ul>

