<div class="modal-dialog modal-dialog-centered">
  <form class="modal-content" id="copy_files_form">
    <div class="modal-header justify-content-between">
        <h5 class="modal-title">Copy files</h5>
        {% if session['theme'] == 'light-mode' %}
          <img id="formFiles" class="htmx-indicator" width="20" src="static/icons/bars.svg">
        {% else %}
          <img id="formFiles" class="htmx-indicator" width="20" src="static/icons/bars-dark.svg">
        {% endif %}
    </div>

    <div class="modal-body">

      <div>
        <select class="form-select form-select-lg mb-4" name="path_folder" hx-get="/files" hx-target="#files" hx-indicator="#formFiles">
          {% for ref in note.ref %}
            {% if ref == note.ref[0] %}
              <option selected value="note_{{ref.id}}">{{ref.fullkey}} {{ref.content}}</option>
            {% else %}
              <option value="note_{{ref.id}}">{{ref.fullkey}} {{ref.content}}</option>
            {% endif %}
          {% endfor %}
          
          {% if note.ref %}
            <option value="teams">Team folders</option>
          {% else %}
            <option selected value="teams">Team folders</option>
          {% endif %}
          
          <option value="templates">New File</option>
          <option value="mydrive">My Drive</option>

          {% if reg.split('_')[2] in ['','pending'] %}
            <option value="forms">Forms</option>
          {% endif %}

        </select>
      </div>
      
      <div>
        {% if note.ref %}
          {% include 'register/files_list_db.html' %}
        {% else %}
          {% include 'register/files_list.html' %}
        {% endif %}
      </div>


    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" hx-include="#copy_files_form" data-bs-dismiss="modal" hx-post="/browse_files?note={{note.id}}&copy=true&reg={{reg}}" hx-target="#filesRow-{{note.id}}" hx-indicator="#filesIndRow-{{note.id}}">Copy</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </form>
</div>
