{% extends 'base.html' %}

{% block content %}

  

<div class="container border rounded mt-4 mb-4">
  <div class="row">
  {% if note.num > 0 %}
    <h1 class="title text-center display-4 text-white">{{ note.fullkey }}</h1>
  {% elif note.ref %}
    <h1 class="title text-center display-4 text-white">ref {{ note.ref[0].fullkey }}</h1>
  {% endif %}
  </div>

  {% if session['theme'] == 'dark-mode' %}
    <div class="row">
  {% else %}
    <div class="row">
  {% endif %}
  
  <form method="POST">
    {{ form.csrf_token }}
    <fieldset class="form-group">

    <div class="d-flex d-flex-wrap justify-content-center">
      <div class="flex p-4">
        <h3 class="mb-4">Data</h3>
        
        <div class="d-flex d-flex-wrap">
          {% if user.admin or 'despacho' in user.groups %}
            <div class="p-2">
              <p></p>
              <span data-bs-toggle="tooltip" title="{{gettext('Only permanente')}}"><i class="bi bi-asterisk" style="color: red"></i></span>
              {{ form.permanent(class="form-check-input") }}
            </div>
          {% endif %}
          <div class="p-2">
            {{ form.n_date.label(class="form-label") }}
            {{ form.n_date(class="form-control") }}
          </div>
          <div class="p-2">
            {{ form.year.label(class="form-label") }}
            {{ form.year(class="form-control") }}
          </div>
          
          {% if note.flow == 'out' %}
          <div class="p-2">
            {{ form.proc.label(class="form-label") }}
            {{ form.proc(class="form-control") }}
          </div>
          {% else %}
            {{ form.proc(class="invisible") }}
          {% endif %}


          <div class="p-2">
            {{ form.sender.label(class="form-label") }}
            {{ form.sender(class="form-control") }}
          </div>
        </div>

        <div class="mb-4">
          {{ form.content.label(class="form-label") }}
          {{ form.content(class="form-control") }}
        </div>
        <div class="mb-4">
          {{ form.content_jp.label(class="form-label") }}
          {{ form.content_jp(class="form-control") }}
        </div>
        {% if ctr %}
        <div class="mb-4">
          {{ form.comments_ctr.label(class="form-label") }}
          {{ form.comments_ctr(class="form-control") }}
        </div>
        {% endif %}
        {% if 'despacho' in user.groups %}
          <div class="mb-4">
            {{ form.comments.label(class="form-label") }}
            {{ form.comments(class="form-control") }}
          </div>
        {% endif %}
        <div class="mb-4">
          {{ form.ref.label(class="form-label") }}
          {{ form.ref(class="form-control") }}
        </div>
        <div class="">
          {{ form.submit(class="btn btn-primary")}}
        </div>
      </div>
      
      <div class="flex p-4 border">
        <h3 class=mb-4> Files</h3>
        {% for file in note.files %}
          {% include 'register/file_card.html' %}
        {% endfor %}
      </div>
        
      <!-- Recipients -->
      <div class="flex p-4">
          {% if (note.flow == 'in' and ('despacho' in user.groups or user.admin)) or (note.flow == 'out' and note.reg in ['ctr','r','vc','vcr'] and (user.admin or note.sender_id == user.id or 'scr' in user.groups)) or note.reg == 'min' %}
            <h3 class=mb-4> {{gettext('Recipients')}}</h3>
     
            {% if note.reg == 'min' %}
              <div class="d-flex d-flex-wrap">
                <button type="button" class="btn btn-primary mb-2 mr-4" checked onclick="tickCheckBox()"><i class="bi-check-square"></i></button>
                <button type="button" class="btn btn-secondary mb-2 mr-4" checked onclick="minusCheckBox()"><i class="bi-dash-square"></i></button>
                <input class="form-control mb-2" id="recInput" type="text" placeholder="Search..">
              </div>
            {% else%}
              <div class="d-flex d-flex-wrap">
                <button type="button" class="btn btn-primary mb-2 mr-4" checked onclick="tickCheckBox()"><i class="bi-check-square"></i></button>
                <button type="button" class="btn btn-secondary mb-2 mr-4" checked onclick="minusCheckBox()"><i class="bi-dash-square"></i></button>
                <input class="form-control mb-2" type="search" 
                  name="search" placeholder="Begin Typing To Search Users..." 
                  hx-post="/edit_receivers?note={{note.id}}" 
                  hx-trigger="input changed delay:200ms, search" 
                  hx-target="#search-results"
                  hx-indicator=".htmx-indicator">
              </div>
            {% endif %}
            
            {% if note.reg == 'min' %}
              {% include 'register/receivers_list_order_list.html' %}
            {% else %}
              <ul class="list-group" id="search-results">
              {% include 'register/receivers_list.html' %}
              </ul>
            {% endif %}
           
            <script>
              function tickCheckBox() {
                let checkboxs = document.getElementsByClassName("chbox");
                let labels = document.getElementsByClassName("chbox_label");

                for(let i = 0; i < checkboxs.length ; i++) {
                  checkboxs[i].checked = 1;
                } 
              }
            </script>
           
            <script>
              function minusCheckBox() {
                let checkboxs = document.getElementsByClassName("chbox");
                let labels = document.getElementsByClassName("chbox_label");

                for(let i = 0; i < checkboxs.length ; i++) {
                  checkboxs[i].checked = 0;
                } 
              }
            </script> 
            
            <script>
            $(document).ready(function(){
              $("#recInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#recList li").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
            </script>

        {% endif %}
      </div>
      <!-- Recipients end -->
    
    </div>

    </fieldset>

  </form>
  </div>
</div>

{% endblock %}

