
<img id="send-{{note.id}}" class="htmx-indicator" width="20" src="static/icons/bars.svg">
{{ note.status_html(reg)|safe }}
{{ note.edit_delete_html(reg)|safe }}

{% if reg.split('_')[2] in ['','pending'] and not reg.split('_')[0] in ['des','box'] %}
{% if current_user.alias in ['jb','antonio','sake','dms'] %}
<a 
  hx-get="reply_note?note={{note.id}}&reg={{reg}}" 
  hx-target="#modal-small" 
  hx-trigger="click" 
  data-bs-toggle="modal" 
  data-bs-target="#modal-small"
  class=""
  role="button">
  <i id="replyRow-{{note.id}}" class="bi bi-envelope-plus-fill" style="color: DarkOrange;" data-bs-toggle="tooltip" title="{{gettext('Create note with this ref')}}"></i></a>
{% endif %}
{% endif %}

{% if not reg.split('_')[2] in ['','pending'] %}
<a 
  hx-get="reply_note?note={{note.id}}&reg={{reg}}" 
  hx-trigger="click" 
  class=""
  role="button">
  <i id="replyRow-{{note.id}}" class="bi bi-envelope-plus-fill" style="color: DarkOrange;" data-bs-toggle="tooltip" title="{{gettext('Create note with this ref')}}"></i></a>
{% endif %}




{% if 'scr' in current_user.groups and note.flow == 'out' and 'email' in note.register.groups %}
  <span class="text-muted">|</span>
  <a href="/download?note={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Download')}} eml"><i class="bi bi-envelope-arrow-down-fill" style="color: green"></i></a>
{% endif %}

{% if reg.split('_')[0] == 'mat' and False %}
  <span class="text-muted">|</span>
  <a href="/register?reg=cr_out_cg&ref={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Generate note to cr')}}"><i class="bi bi-file-earmark-arrow-up" style="color: blue;"></i></a>
  <a href="/register?reg=cr_out_asr&ref={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Generate note to asr')}}"><i class="bi bi-file-earmark-arrow-up" style="color: red;"></i></a>
  <a href="/register?reg=cr_out_r&ref={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Generate note to r')}}"><i class="bi bi-file-earmark-arrow-up" style="color: yellow;"></i></a>
  <a href="/register?reg=cr_out_ctr&ref={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Generate note to ctr')}}"><i class="bi bi-file-earmark-arrow-up" style="color: green;"></i></a>
{% elif reg.split('_')[0] == 'crNO' %}
  <span class="text-muted">|</span>
  <a href="/register?reg=min_all_&ref={{note.id}}" data-bs-toggle="tooltip" title="{{gettext('Generate minuta from note')}}"><i class="bi bi-file-earmark-arrow-up"></i></a>
{% endif %}
