<form class="invisible" id="addfiles" method="POST">
</form>

<div class="table-responsive">
  {% if session['theme'] == 'light-mode' %}
  <table class="table table-sm table-striped table-hover">
  {% else %}
  <table class="table table-sm table-striped table-hover table-dark">
  {% endif %}
    <thead class="">
      <tr class="bg-dark">
        <th scope="col">{{gettext('Protocol')}}</th>
        <th scope="col"></th>
        <th scope="col">{{gettext('Date')}}</th>
        <th scope="col">{{gettext('Content')}}</th>
        <th scope="col">{{gettext('Files')}}</th>
        <th scope="col">Ref</th>
      </tr>
    </thead>
    <tbody>
      <div id="modal-tag"
        class="modal modal-blur fade"
        data-bs-backdrop="static"
        style="display: none"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
      </div>
      
      <div id="modals-here"
        class="modal modal-blur fade"
        data-bs-backdrop="static"
        style="display: none"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
      </div>
      
      <div id="modal-files"
        class="modal modal-blur fade"
        data-bs-backdrop="static"
        style="static"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
      </div>
      
      <div id="modal-small"
        class="modal modal-blur fade"
        data-bs-backdrop="static"
        style="static"
        aria-hidden="false"
        tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
      </div>

    {% for note in notes %}
      {% include 'register/table_row.html' %}
    {% endfor %}
    </tbody>
  </table>
</div>

<!-- because we are using table rows here, we must enable template fragment parsing -->
<script>
    htmx.config.useTemplateFragments = true;
</script>

<script>
  function myFunction(note_protocol,note_id) {
    let answer = confirm(`{{gettext('Are you sure you want to delete')}} ${note_protocol}?`);
    if (answer) {
      location.replace(`/delete_note?note=${note_id}`)
    }
  }
</script>
