<tr>
  <!-- Protocol number with link -->
  <th scope="row">
    {% if reg.split('_')[2] in ['','pending'] %}
      {{ note.fullkey_link_html|safe }}
    {% else %}
      {{ note.fullkey_short }}
    {% endif %}
  </th>

  <!-- Action buttons -->
  <td>
    {% include 'register/table_row_buttons.html' %}
  </td>

  <!-- Date -->
  <td>
    <span class="d-md-none d-lg-block"><small>{{ note.date.strftime('%y-%m-%d') }}</small></span>
  </td>

  
  <!-- Comments and content with jp version if needed -->
  <td>
    {% if note.comments and note.is_involve(user,reg) %}
    <span data-bs-toggle="tooltip" title="{{note.comments}}"><i class="bi bi-file-earmark-text" style="color: OrangeRed;"></i></span>
    {% endif %}
   
    {{ note.content_html(reg)|safe }}
  
    <span hx-get="note_people?note={{note.id}}" hx-trigger="status-updated from:body">
    {{ note.people_matter_html|safe }}
    </span>

    <!-- Tags-->
    {% if reg.split('_')[2] in ['','pending'] %}
      {% if user.admin or reg.split('_')[0] == 'des' or reg.split('_')[0] == 'mat' and note.sender == current_user %}
      <a 
          hx-get="/edit_tags?note={{note.id}}" 
          hx-target="#modal-tag" 
          hx-trigger="click" 
          data-bs-toggle="modal"
          data-bs-target="#modal-tag"
          class=""
          role="button">
          <span id="tagRow-{{note.id}}">{{ note.tag_html(True)|safe }}</span></a>
      {% else %}
        {{ note.tag_html()|safe }}
      {% endif %}
    {% endif %}
    <!-- End of tags-->
 
    <!-- Deparments -->
    {% if reg.split('_')[2] in ['','pending'] and not reg.split('_')[0] == 'mat' %}
      {% if user.admin or reg.split('_')[0] == 'des' %}
        <a 
            hx-get="/edit_receivers?note={{note.id}}" 
            hx-target="#modals-here" 
            hx-trigger="click" 
            data-bs-toggle="modal"
            data-bs-target="#modals-here"
            class=""
            role="button">
            <span id="recRow-{{note.id}}">{{ note.dep_html|safe }}</span></a>
      {% else %}
        {{ note.dep_html|safe }}
      {% endif %}
    {% endif %}

        
    {% if ctr and note.comments_ctr %}
      {% for cm in note.comments_ctr %}
        {% if cm.sender_id == ctr.id %}
          <mark>({{cm.comment}})</mark>
        {% endif %}
      {% endfor %}
    {% endif %}

  </td>

  <!-- Link to folder, button to updateFiles and files in folder -->
  <td>
 
    <span hx-get="note_files?note={{note.id}}&reg={{reg}}" hx-trigger="status-updated from:body" id="filesRow-{{note.id}}">{{note.files_html(reg)|safe}}</span>

    {% if session['theme'] == 'light-mode' %}
      <img id="filesIndRow-{{note.id}}" class="htmx-indicator" width="20" src="static/icons/bars.svg">
    {% else %}
      <img id="filesIndRow-{{note.id}}" class="htmx-indicator" width="20" src="static/icons/bars-dark.svg">
    {% endif %}

  </td>

  <!-- Refs of the note with tooltip with content -->
  <td>
    {{ note.refs_html(reg)|safe }}
  </td>

</tr>
