{{ form.csrf_token }}

<fieldset class="form-group">

<div class="container">
  {% if not reg[2] and (note.flow == 'out' and note.register.get_contacts()|length > 1 or despacho or current_user.admin or note.register.alias == 'mat') %}
    <div class="row">
      <div class="col-5">
        {% include 'notes/form_edit_note_fields.html' %}
        <div class="flex flex-wrap border mt-2">
          {% include 'notes/table/2_files_form.html' %}
        </div>
      </div> <!-- end column --> 
      <div class="col-7">
        {% include 'notes/form_edit_note_targets.html' %}
      </div> <!-- end columun col-8 -->
    </div> <!-- end row -->
  {% else %}
    {% include 'notes/form_edit_note_fields.html' %}
    <div class="flex flex-wrap border mt-2" style="max-height:5em; overflow-y: auto;">
      {% include 'notes/table/2_files_form.html' %}
    </div>
  {% endif %}
</div> <!-- end container -->


</fieldset>


