<div class="p-2 {{'d-none' if reg[2] else ''}}">
  {{ form.permanent(class="form-check-input") }} <span class="ms1">Only permanent can see it</span>
</div>

<div class="d-flex flex-wrap border justify-content-between">
  <div class="p-2">
    {{ form.num.label(class="form-label") }}
    {{ form.num(class="form-control",style="width:6em;") }}
  </div>

  <div class="p-2">
    {{ form.year.label(class="form-label") }}
    {{ form.year(class="form-control",style="width:5em;") }}
  </div>

  <div class="p-2 {{'d-none' if reg[2] else ''}}">
    {{ form.sender.label(class="form-label") }}
    {{ form.sender(class="form-control") }}
  </div>
    
  <div class="p-2">
    {{ form.n_date.label(class="form-label") }}
    {{ form.n_date(class="form-control") }}
  </div>
    
  <div class="p-2 {{'d-none' if note.reg != 'mat' else ''}}">
    {{ form.proc.label(class="form-label") }}
    {{ form.proc(class="form-control") }}
  </div>
</div>

<div class="d-flex flex-wrap border">
  <div class="p-2 container">
    {{ form.content.label(class="form-label") }}
    {{ form.content(class="form-control") }}
  </div>
  
  <div class="p-2 container">
    {{ form.content_jp.label(class="form-label") }}
    {{ form.content_jp(class="form-control") }}
  </div>
</div> 

<div class="d-flex flex-wrap border">
  <div class="p-2 {{'' if reg[2] else 'd-none'}} container">
    {{ form.comments_ctr.label(class="form-label") }}
    {{ form.comments_ctr(class="form-control") }}
  </div>

  <div class="p-2 {{'d-none' if reg[2] else ''}} container">
    {{ form.comments.label(class="form-label") }}
    {{ form.comments(class="form-control") }}
  </div>
  
</div>

<div class="p-2 container border">
  {{ form.ref.label(class="form-label") }}
  {{ form.ref(class="form-control") }}
</div>

  

