<div class="d-flex justify-content-end align-items-center my-1 text-secondary">
  <span class="small">{{ (page - 1) * notes.per_page + 1 }}-{{ (page - 1) * notes.per_page + notes.items|length }} of {{notes.total}}</span>
  <button  class="btn btn-sm btn-file border-0"
      hx-get="/main_body?reg={{reg}}&page={{notes.prev_num}}"
      hx-trigger="click"
      hx-target="#main-body"
      hx-indicator="#indicator-table"
      {{'' if notes.has_prev else 'disabled' }}><i class="bi bi-chevron-left"></i></button>
  <button  class="btn btn-sm btn-file border-0"
      hx-get="/main_body?reg={{reg}}&page={{notes.next_num}}"
      hx-trigger="click"
      hx-target="#main-body"
      hx-indicator="#indicator-table"
      {{'' if notes.has_next else 'disabled' }}><i class="bi bi-chevron-right"></i></button>
</div>

<div class="table-responsive">
  {% if session['theme'] == 'light-mode' %}
  <table class="table table-sm table-striped table-hover">
  {% else %}
  <table class="table table-sm table-hover">
  {% endif %}
    <thead class="">
      <tr class="bg-dark">
        <th scope="col" class="">{{gettext('Protocol')}}</th>
        {% if session['version'] == 'old' and reg[2] %}
          <th scope="col"></th>
        {% endif %}
        <th scope="col" class="">{{gettext('Subject')}}</th>
        <th scope="col" class="">{{gettext('Actions / Files')}}</th>
        <th scope="col" class="text-end d-md-none d-lg-block">{{gettext('Date')}}</th>
      </tr>
    </thead>
    {% if not page or page == 1 %}
    <tbody>
    {% else %}
    <tbody>
    {% endif %}
      {% include 'notes/table/0_rows.html' %}
    </tbody>
  </table>
</div>

<!-- because we are using table rows here, we must enable template fragment parsing -->
<script>
    htmx.config.useTemplateFragments = true;
</script>

