  <!-- Protocol number with link -->
  <th id="row_{{note.id}}_protocol" scope="row" style="white-space: nowrap;">
    {% if reg[2] == '' %}
      {{ note.fullkey_link_html|safe }}
    {% else %}
      {{ note.fullkey_short }}
    {% endif %}
  </th>

  <!-- Action buttons -->
  <td id="row_{{note.id}}_buttons" style="white-space: nowrap;">
    {% include 'notes/table_column_buttons.html' %}
  </td>

  <!-- Date -->
  <td id="row_{{note.id}}_date" style="white-space: nowrap;">
    <span class="d-md-none d-lg-block"><small>{{ note.date.strftime('%y-%m-%d') }}</small></span>
  </td>
  
  <!-- Comments and content with jp version if needed -->
  <td>
    {% include 'notes/table_column_content.html' %}
  </td>

  <!-- Link to folder, button to updateFiles and files in folder -->
  <td id="row_{{note.id}}_files">
    <span id="filesRow-{{note.id}}">{{note.files_html(reg)|safe}}</span>
  </td>

  <!-- Refs of the note with tooltip with content -->
  <td  id="row_{{note.id}}_references"class="">
    {{ note.refs_html(reg)|safe }}
  </td>

