<div class="offcanvas offcanvas-start" id="offlinks">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Useful links</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <h4><a href="https://docs.google.com/spreadsheets/d/13bfnwOBaiuE47GKqK3ZyRCsjmNo9SX4KD-RKtAhrBSw" target="_blank">Activities 2024</a></h4>
    <h4><a href="{{session['link']}}/oo/r/xPRu19rGSO2EZf3W0OsuUYJhJ4c9HPxq" target="_blank">Strategic plan</a></h4>
    <h4><a href="{{session['link']}}/oo/r/xPRnVGDxnVKTQvgOlH3JQtOiPoGxfVoi" target="_blank">Strategic plan (JP)</a></h4>
    <h4>Statuta</h4>
    <ul>
      <li><a href="https://opusdei.org/es/article/estatutos-del-opus-dei/" target="_blank">Statuta (Español y latín)</a></li>
      <li><a href="https://opusdei.org/en/article/statutes-of-opus-dei-eng/" target="_blank">Statuta (Versión no oficial en inglés)</a></li>
    </ul>
    <br>
    <h4>Initial Formation Program (B10)</h4>
      <ul>
	      <li>General Considerations 
		<a href="{{session['link']}}/d/f/ycdPSUzilBt6MQdgBeiMVtuxwDq6UIKq" target="_blank">(Spanish)</a>
		<a href="{{session['link']}}/d/f/zxVr9mQMJ3laJfLC9Sq1gLCk0FMNxdLk" target="_blank">(English)</a>
	      </li>
	      <li>Part I. Topics <a href="{{session['link']}}/d/f/ydV2tDWrtePasTo6Ru88fBsr80fp0eND" target="_blank">(Spanish)</a></li>
	      <li>Part II. Topics 
		  <a href="{{session['link']}}/d/f/ydV2tFnewDQ1WrmYeAy1kpB7eKskE4M4" target="_blank">(Spanish)</a>
		  <a href="{{session['link']}}/d/f/zxWAJyaqcXsRqLihxoPo5ltCJNqVg1bJ" target="_blank">(English)</a>
		  and Developed Outlines 
		  <a href="{{session['link']}}/d/f/yggwzvnFJpdnAUYMLbGIm9Nd0ViFfEwb" target="_blank">(Spanish)</a>
		  <a href="{{session['link']}}/d/f/zxVrAAGfEVEhYOTqZtrMUBsbSU5VIeGW" target="_blank">(English)</a>
	      </li>
	      <li>Part III. Topics <a href="{{session['link']}}/d/f/ydV2tGnFtUDxn9vgA9pscqSXYWgNO9k6" target="_blank">(Spanish)</a></li>
	      <li>Part IV. Topics <a href="{{session['link']}}/d/f/ydV2tHmqql80R84YgYndDwV2USKFbwOR" target="_blank">(Spanish)</a> and Developed Outlines <a href="https://opusdei.org/es-es/page/resumenes-de-fe-cristiana/" target="_blank">(Spanish)</a> <a href="https://opusdei.org/en-uk/page/summaries-of-catholic-teaching/" target="_blank">(English)</a> <a href="https://opusdei.org/zht/page/tian-zhu-jiao-jiao-li-zong-gang/" target="_blank">(Chinese)</a> (Japanese)</li>
      </ul>

      <br>
    <h4>Formation</h4>
      <ul>
	      <li>Plan of Formation for People Beginning to Hear Chats <a href="{{session['link']}}/oo/r/zm7U3jGDV8Clr5HHdlTeYCQsvMOUp60Q" target="_blank">(English)</a></li>
	      <li>Case Studies on Spiritual Direction in Opus Dei <a href="{{session['link']}}/oo/r/zm7WpUzV9p97vHZlx1qXhIkXpblgBrxT" target="_blank">(English)</a></li>
      </ul>
    <br>

    <h4>Decretos generales</h4>
    <ul>
      <li><a href="{{session['link']}}/d/f/tPk7XySpyCYr7fMybY0aCmYGt1dppjDu" target="_blank">Decr. Gen. 1/99</a> (regional and local government)</li>
      <li><a href="{{session['link']}}/d/f/tPk8eXRXwndVyw5gajRN0WWSSzUrPgRW" target="_blank">Decr. Gen. 2/99</a> (ascription to the Prelature)</li>
      <li><tab>Enmendado por el Decr. Gen. 3/2020 (<a href="{{session['link']}}/d/f/tPl5ccK4fo3Ic0YHyEo0EW19UOnLWqKv" target="_blank">Español</a>, <a href="{{session['link']}}/d/f/tPkxt7902yL7oUPnF6RRef4toOkYZrlE" target="_blank">latín</a>)</li>
      <li><a href="{{session['link']}}/d/f/tPk8vecvjC3xIZBgIajKPIN3G60lp4dv" target="_blank">Decr. Gen. 3/99</a> (appointments)</li>
      <li><a href="{{session['link']}}/d/f/tPk96ALwNVZ5AJ4LloNIZzgesrPo6e3s" target="_blank">Decr. Gen. 4/99</a> (priests incardinated in the Prelature)</li>
      <li><a href="{{session['link']}}/d/f/tPk9GeW9oXDB84Pgv6hUmvJDGDEVV9U3" target="_blank">Decr. Gen. 5/99</a> (advise on publications)</li>
      <li><a href="{{session['link']}}/d/f/tPk9qkhGRvbA6udlLzzkmEvPtpHCOe9Q" target="_blank">Decr. Gen. 6/99</a> (financial matters)</li>
      <li><a href="{{session['link']}}/d/f/tPk7fjjj0jFxLfzR8T02edbYwTzuBOXX" target="_blank">Decr. Gen. 1/2000</a> (confirmation of definitive incorporation)</li>
    </ul>

    <h4>Reglamentos y experiencias</h4>
    <ul>
      <li><a href="{{session['link']}}/d/f/webapi/entry.cgi/Asambleas%20Regionales.pdf?api=SYNO.SynologyDrive.Files&method=download&version=2&files=%5B%22id%3A781591285671706160%22%5D&force_download=false&download_type=%22download%22&SynoToken=wXhmw6pQREEls&_dc=1721716204484" target="_blank">Reglamento de las Asambleas Regionales</a></li>
      <li><a href="{{session['link']}}/d/f/tQ2ozs2wfM3zuQHU9nnXOt98R3UnwlUs" target="_blank">Reglamento de la Comisión Regional</a></li>
      <li><a href="{{session['link']}}/d/f/uHnNXkRBgHYPUYlQaeKdoPUbrNmtzOkO" target="_blank">Regulae Internae pro Administrationibus</a> (excluding the Latin version)</li>
      <li><a href="{{session['link']}}/d/f/shLN2kyjyMGJRwQkoct6tfqxv5Bu6jXf" target="_blank">Experiencias regionales</a> | <a href="{{session['link']}}/d/f/shLNAlRATLkvqzIAfjjALplcE6ACttNt" target="_blank">Anexos</a> | <a href="{{session['link']}}/oo/r/uLqSm5zUC1lj7deS26dfrpjoJ33AypX1" target="_blank">Addenda</a></li>
      <li><a href="{{session['link']}}/d/f/up4iNEGnaDcQXU11YXqmRQm6T0CZcQQx" target="_blank">Construcciones I (B24, Oratorios)</a> (contraseña: soiroma18)</li>
      <li><a href="{{session['link']}}/oo/r/uKKPRdLu5IXxDExeNYcNdJYuhMJsKLKP" target="_blank">Formularios para diversas decisiones del Vicario Regional</a></li>
      <li><a href="{{session['link']}}/oo/r/sr3yteryu0DapMxeYQ3tNiApGVoP5Lzi" target="_blank"></a>Libro de Actas de Aes</li>
      <li><a href="{{session['link']}}/d/f/up4MbWCUsve7jzfqZZt08OGvBJdidO9f" target="_blank">Impresos (C, D, E, F, S) para uso de la cr</a> | <a href="{{session['link']}}/d/f/up4VrcufQRpJTQQ9NnIzOAOTLQcP31aZ" target="_blank">de los ctr</a></li>
      <li><a href="{{session['link']}}/d/f/uYIe5vJ6nrVgBVFvjCRcVXkDXu8vcT6F" target="_blank">Decreto del stgr</a> y sus <a href="{{session['link']}}/d/f/uYIe5nDXazsUCiFUNZjCPceleGBkuSIU" target="_blank">Estatutos</a></li>
      <li><a href="{{session['link']}}/d/f/uR1JiqTFfYKusytvr8yVgwbk4WCNJ0r9" target="_blank">Venias de ctr</a></li>
      <li><a href="{{session['link']}}/d/f/shLaPrIUX9rGlWtO8sMxPfuTp8tFZPW8" target="_blank">Experiencias de formación en el ámbito local</a> | <a href="{{session['link']}}/oo/r/s8srO9Ks6FODOndAjb39B8ViicYD7cDr" target="_blank">Addenda to Spanish version</a></li>
      <li><a href="{{session['link']}}/d/f/sfPXKymgaNxx6MkvabLwUQMCuJvQCcTd" target="_blank">English version: Experience on formation at the local level</a></li>
      <li><a href="{{session['link']}}/oo/r/tP7fQokK0zQOVe7B2DTAw4ZKgS3dgwOl" target="_blank">Experiencias de formación en el ámbito local, n. 5 (japonés)</a></li>
      <li>Catecismo de la Obra <a href="{{session['link']}}/d/f/tF4gn1lL5IwrzUWCOwehxScTnVUAkW3m" target="_blank">English 7th ed.</a> | <a href="{{session['link']}}/d/f/tF4mdjiNzW2eCkuFh9sNhA4BRGwEnAmV" target="_blank">Chinese</a> | (<a href="{{session['link']}}/d/f/sedWaaAf511vl7em3IYIH6ITWUDbAoya" target="_blank">Explanation of the content of the Chinese translation</a>)</li>
      <li><a href="{{session['link']}}/d/f/sedXmBoWpvahfZwbe6Zfw4IX2M0oQPNK" target="_blank">Celebraciones en familia 2013</a></li>
      <li><a href="{{session['link']}}/d/f/sedY0VqbH9AhDvQoBFAb453vDKO771lv" target="_blank">Experiencias sobre celebraciones litúrgicas</a></li>
    </ul>
  </div>
</div>
