{% if not session['reg'][0] in ['mat','des','box','import','all'] and session['reg'][1] != 'pen' %}
<div id="registers_collapse" class="collapse show collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% else %}
<div id="registers_collapse" class="collapse collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% endif %}
{% with dark = '-dark' if session['theme'] == 'dark-mode' else '' %}
  {% if current_user.category in ['dr','of'] %}
      <a class="nav-link position-relative my-1"
        hx-get="/main_title_body?reg=['all','pen','']"
        hx-indicator="#indicator-table"
        hx-trigger="click"
        hx-target="#main-title-body"
        hx-disinherit="*"
        hx-on:click="$('#proposals_collapse').collapse('hide');"
        data-bs-toggle="tooltip"
        data-bs-title="{{gettext('My notes')}}"
        role="button">
        <div class="container" hx-get="sidebar?element=pendings" hx-trigger="update-main from:body" hx-swap="outerHTML"></div>

        <span class="position-absolute top-0 end-0 badge rounded-pill bg-danger"
            hx-get="/body_data?info=pending"
            hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body" style="font-size:0.6em;"></span>
      </a>
     
      <!--
      <a class="nav-link position-relative my-1"
        hx-get="/main_title_body?reg=['all','done','']"
        hx-indicator="#indicator-table"
        hx-trigger="click"
        hx-target="#main-title-body"
        hx-disinherit="*"
        hx-on:click="$('#proposals_collapse').collapse('hide');"
        data-bs-toggle="tooltip"
        data-bs-title="{{gettext('Notes I have already done')}}"
        role="button">
        <div class="container" hx-get="sidebar?element=done" hx-trigger="update-main from:body" hx-swap="outerHTML"></div>
      </a>
      -->
  {% endif %}

  {% with registers = current_user.all_registers_and_sub %}
  <div class="d-flex flex-sm-column flex-shrink-0 flex-row flex-nowrap align-items-center justify-content-center" >
    {% for register in registers %}
      {% if register.permissions and register.alias != 'mat' %}
      <span class="mb-3">
        <span class="position-relative"
          hx-get="/main_title_body?reg=['{{register.alias}}','in','']"
          hx-on:click="$('#proposals_collapse').collapse('hide');"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          {% if 'personal' in register.groups %}
            data-bs-title="{{gettext('Mail for')}} {{register.alias}}"
          {% else %}
            data-bs-title="{{gettext('Mail from')}} {{register.alias}}"
          {% endif %}
          role="button">
          <span class="container" hx-get="sidebar?element={{register.alias}}_in_" hx-trigger="update-main from:body" hx-swap="outerHTML"></span>
          <span class="position-absolute top-0 end-0 badge rounded-pill bg-primary"
              hx-get="/body_data?info={{register.alias}}_in_"
              hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body" style="font-size:0.55em;"></span>
        </span>
        <span class="position-relative"
          hx-get="/main_title_body?reg=['{{register.alias}}','out','']"
          hx-on:click="$('#proposals_collapse').collapse('hide');"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          {% if 'personal' in register.groups %}
            data-bs-title="{{gettext('Mail from')}} {{register.alias}}"
          {% else %}
            data-bs-title="{{gettext('Mail to')}} {{register.alias}}"
          {% endif %}
          role="button">
          <div class="container" hx-get="sidebar?element={{register.alias}}_out_" hx-trigger="update-main from:body" hx-swap="outerHTML"></div>
        </span>
      </span>
    {% endif %}
    {% endfor %}
    
    {% for register in registers %}
      {% for subregister in register.get_subregisters() %}
        <span class="mb-2">
          <span class="position-relative"
            hx-get="/main_title_body?reg=['{{register.alias}}','in','{{subregister}}']"
            hx-on:click="$('#proposals_collapse').collapse('hide');"
            hx-indicator="#indicator-table"
            hx-trigger="click"
            hx-target="#main-title-body"
            hx-disinherit="*"
            data-bs-toggle="tooltip"
            data-bs-title="{{gettext('Mail from cr to')}} {{subregister}}"
            role="button">
            <div class="container" hx-get="sidebar?element={{register.alias}}_in_{{subregister}}" hx-trigger="update-main from:body" hx-swap="outerHTML"></div>
            <span class="position-absolute top-0 end-0 badge rounded-pill bg-primary"
                hx-get="/body_data?info={{register.alias}}_in_{{subregister}}"
                hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body" style="font-size:0.55em;"></span>
          </span>
          <span class="position-relative"
            hx-get="/main_title_body?reg=['{{register.alias}}','out','{{subregister}}']"
            hx-on:click="$('#proposals_collapse').collapse('hide');"
            hx-indicator="#indicator-table"
            hx-trigger="click"
            hx-target="#main-title-body"
            hx-disinherit="*"
            data-bs-toggle="tooltip"
            data-bs-title="{{gettext('Mail to cr from')}} {{subregister}}"
            role="button">
            <div class="container" hx-get="sidebar?element={{register.alias}}_out_{{subregister}}" hx-trigger="update-main from:body" hx-swap="outerHTML"></div>
          </span>
        </span>
      {% endfor %}
    {% endfor %}

  </div>
  {% endwith %}
{% endwith %}
</div>


