{% with dark = '-dark' if session['theme'] == 'dark-mode' else '' %}
  <li class="list-group-item align-items-center {% if reg == ['mat','all',''] %}active{% endif %}"
    hx-get="/main_title_body?reg=['mat','all','']"
    hx-indicator="#indicator-table"
    hx-on:click="$('#registers_collapse').collapse('hide');"
    hx-trigger="click"
    hx-target="#main-title-body"
    hx-disinherit="*"
    role="button">
    <img class="me-2" src="static/icons/00-matters_all{{dark}}.svg" width="20em" height="auto">
    {{gettext('All')}}
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-center {% if reg == ['mat','sign',''] %}active{% endif %}"
    hx-get="/main_title_body?reg=['mat','sign','']"
    hx-on:click="$('#registers_collapse').collapse('hide');"
    hx-indicator="#indicator-table"
    hx-trigger="click"
    hx-target="#main-title-body"
    hx-disinherit="*"
    role="button">
    <span>
      <img class="me-2" src="static/icons/00-matters_to_sign{{dark}}.svg" width="20em" height="auto">
      {{gettext('To sign')}}
    </span>
    <span class="badge rounded-pill bg-danger ms-2"
        hx-get="/body_data?info=proposals_to_sign"
        hx-trigger="load, state-updated from:body, socket-updated from:body" style="font-size:0.6em;"></span>
  </li>

  <li class="list-group-item align-items-center {% if reg == ['mat','draft',''] %}active{% endif %}"
    hx-get="/main_title_body?reg=['mat','draft','']"
    hx-on:click="$('#registers_collapse').collapse('hide');"
    hx-indicator="#indicator-table"
    hx-trigger="click"
    hx-target="#main-title-body"
    hx-disinherit="*"
    role="button">
    <img class="me-2" src="static/icons/00-matters_draft{{dark}}.svg" width="20em" height="auto">
    {{gettext('Drafts')}}
  </li>

  <li class="list-group-item align-items-center {% if reg == ['mat','shared',''] %}active{% endif %}"
    hx-get="/main_title_body?reg=['mat','shared','']"
    hx-on:click="$('#registers_collapse').collapse('hide');"
    hx-indicator="#indicator-table"
    hx-trigger="click"
    hx-target="#main-title-body"
    hx-disinherit="*"
    role="button">
    <img class="me-2" src="static/icons/00-matters_shared{{dark}}.svg" width="20em" height="auto">
    {{gettext('Circulating')}}
  </li>
  
  <li class="list-group-item d-flex justify-content-between align-items-center {% if reg == ['mat','done',''] %}active{% endif %}"
    hx-get="/main_title_body?reg=['mat','done','']"
    hx-on:click="$('#registers_collapse').collapse('hide');"
    hx-indicator="#indicator-table"
    hx-trigger="click"
    hx-target="#main-title-body"
    hx-disinherit="*"
    role="button">
    <span>
      <img class="me-2" src="static/icons/00-matters_done{{dark}}.svg" width="20em" height="auto">
      {{gettext('Done')}}
    </span>
    <span class="badge rounded-pill bg-danger ms-2"
        hx-get="/body_data?info=proposals_done"
        hx-trigger="load, state-updated from:body, socket-updated from:body" style="font-size:0.6em;"></span>
  </li>
{% endwith %}
