
  <div id="bar_icon_{{element}}" 
      class=""
      hx-get="/sidebar?element={{element}}"
      hx-swap="outerHTML"
      hx-trigger="update-main from:body"
      role="button">
      <div class="" style="display: flex; justify-content: center;">
      
      {% if False and 'ctr/' in icon %}
        {% if focus %}
          <img class="border-5 rounded" src="static/icons/{{icon}}.svg" width="40rem" height="30rem" style="background-color:#bfbfbf; border-color:#bfbfbf">
        {% else %}
          <img class="" src="static/icons/{{icon}}.svg" width="40rem" height="30rem">
        {% endif %}
      {% else %}
        {% if focus %}
          <img class="border-5 rounded" src="static/icons/{{icon}}.svg" width="70rem" height="35rem" style="background-color:#bfbfbf; border-color:#bfbfbf">
        {% else %}
          <img class="" src="static/icons/{{icon}}.svg" width="70rem" height="35rem">
        {% endif %}
      {% endif %}
      </div>
    {% if element_title %}
      <div class="text-center">
        <small>{{element_title}}</small>
      </div>
    {% endif %}
  </div>
