  {% with registers = current_user.all_registers_and_sub %}
  <div id="register_menu" class="dropdown position-relative">
      {{ current_user.register_icon_html('register')|safe }}
      {% with unread = current_user.unread %}
        {% if unread > 0 %}
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
          {{unread}}
        </span>
        {% endif %}
      {% endwith %}
    <ul class="dropdown-menu shadow" aria-labelledby="dropdownRegister">
      <li class="d-inline-flex">
        {% for register in registers %}
          {% if register.permissions != 'notallowed' and not 'matters' in register.groups %}
            <span class="position-relative">
              {{ register.link_icon_html('in')|safe }}
              {% with unread = register.unread() %}
                {% if unread > 0 %}
                  <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
                    {{unread}}
                  </span>
                {% endif %}
              {% endwith %}
            </span>
          {% endif %}
        {% endfor %}
        
        <!-- cl registers-->
        {% for register in registers %}
          {% for subregister in register.get_subregisters() %}
            <span class="position-relative">
              {{ register.link_icon_html('in',subregister)|safe }}
              {% with unread = register.unread(subregister) %}
                {% if unread > 0 %}
                  <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
                    {{unread}}
                  </span>
                {% endif %}
              {% endwith %}
            </span>
            {% endfor %}
        {% endfor %}
        <!-- End cl registers-->

      </li>
      <li class="d-inline-flex">
        {% for register in registers %}
          {% if register.permissions != 'notallowed' and not 'matters' in register.groups %}
            {{ register.link_icon_html('out')|safe }}
          {% endif %}
        {% endfor %}
        
        <!-- cl registers-->
        {% for register in registers %}
          {% for subregister in register.get_subregisters() %}
            {{ register.link_icon_html('out',subregister)|safe }}
          {% endfor %}
        {% endfor %}
        <!-- End cl registers-->
      </li>
    </ul>
  </div>
  {% endwith %}
