{% if session['reg'][1] == 'pages' %}
  <div id="pages_collapse" class="collapse show collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% else %}
  <div id="pages_collapse" class="collapse collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% endif %}

  <ul class="list-group list-group-flush"
      style="max-height:100vh; overflow-y: auto;"
      hx-get="sidebar?element=page_list"
      hx-trigger="update-main from:body">
      {% include 'sidebar_pages_list.html' %}
  </ul>

</div>
