{% with dark = '-dark' if session['theme'] == 'dark-mode' else '' %}

      <li class="list-group-item d-flex justify-content-between align-items-center {% if reg == ['import','in',''] %}active{% endif %}"
          hx-get="/inbox_body?reg=['import','in','']"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          data-bs-title="{{gettext('Imported files from eml or asr folder')}}"
          role="button">

          <span>
            <span class="font-icon bg-dark text-light border me-2" style="font-size: 0.7em">
              <i class="bi bi-cloud-download-fill"></i>
            </span>
            <span>Import files</span>
          </span>
          
          <span class="badge rounded-pill ms-2 bg-success"
            hx-get="/body_data?info=files_imported"
            hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body" style="font-size:0.6em;">
          </span>
 
        </li>
      <li class="list-group-item list-group-item-divider bg-transparent"></li> <!-- Divider -->
        
      <li class="list-group-item d-flex justify-content-between align-items-center {% if reg == ['box','in',''] %}active{% endif %}"
          hx-get="/main_title_body?reg=['box','in','']"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          data-bs-title="{{gettext('All notes the sccr has to prepare for despacho')}}"
          role="button">
          
          <span>
            <span class="font-icon bg-dark text-light border me-2" style="font-size: 0.7em">
              <i class="bi bi-inbox-fill"></i>
            </span>
            <span>Inbox</span>
          </span>
          
          <span class="badge rounded-pill bg-danger ms-2"
            hx-get="/body_data?info=inbox"
            hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body" style="font-size:0.6em;">
          </span>

        </li>
        
        <li class="list-group-item d-flex justify-content-between align-items-center {% if reg == ['box','out',''] %}active{% endif %}"
          hx-get="/main_title_body?reg=['box','out','']"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          data-bs-title="{{gettext('All the notes the sccr has to send')}}"
          role="button">
          
          <span>
            <span class="font-icon bg-dark text-light border me-2" style="font-size: 0.7em">
              <i class="bi bi-envelope-fill"></i>
            </span>
            <span>Outbox</span>
          </span>
          
          <span class="badge rounded-pill bg-primary ms-2"
            hx-get="/body_data?info=outbox"
            hx-trigger="load, read-updated from:body, file-opened from:body, socket-updated from:body" style="font-size:0.6em;">
          </span>

        </li>

      <li class="list-group-item list-group-item-divider bg-transparent"></li> <!-- Divider -->

      <li class="list-group-item d-flex justify-content-between align-items-center {% if reg == ['marked','files',''] %}active{% endif %}"
          hx-get="/marked_files_deletion?reg=['marked','files','']"
          hx-indicator="#indicator-table"
          hx-trigger="click"
          hx-target="#main-title-body"
          hx-disinherit="*"
          data-bs-toggle="tooltip"
          data-bs-title="{{gettext('All files marked for deletion')}}"
          role="button">
          
          <span>
            <span class="font-icon bg-dark text-light border me-2" style="font-size: 0.7em">
              <i class="bi bi-incognito"></i>
            </span>
            <span>Sensitive</span>
          </span>
        </li>

{% endwith %}

