{% if session['reg'] and not session['reg'][0] in ['mat','des','box','import','all'] and session['reg'][1] != 'pen' %}
  <div id="registers_collapse" class="collapse show collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% else %}
  <div id="registers_collapse" class="collapse collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% endif %}

    <ul class="list-group"
      hx-get="sidebar?element=register_list"
      hx-trigger="update-main from:body">
      {% include 'sidebar_registers_list.html' %}
    </ul>

  </div>


