{% if session['reg'] and session['reg'][0] in ['box','import','marked'] %}
    <div id="sccr_collapse" class="collapse show collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% else %}
    <div id="sccr_collapse" class="collapse collapse-horizontal col-sm-auto border p-1" style="background-color: light;transition: none;">
{% endif %}

<ul class="list-group list-group-flush"
  hx-get="sidebar?element=sccr_list"
  hx-trigger="update-main from:body">
  {% include 'sidebar_sccr_list.html' %}
</ul>

  </div>


