{% extends "base.html" %}

{% block content %}
   <form method="POST" hx-post="" hx-swap="none" novalidate>
      <button class="btn btn-primary" type="submit">Submit</button>
      <textarea id="summernote" class="form-control" name="content"></textarea>
   </form>
{% endblock %}

<script>
   $('#summernote').summernote({
      height: 300, // set editor height
      minHeight: null, // set minimum height of editor
      maxHeight: null, // set maximum height of editor
      focus: true // set focus to editable area after initializing summernote
   });
</script>

